.jqButton-default{
}

.jqButton-default .jqButton-btn{
	width:100%;
	height: 28px;
	border: none;
	border-radius:3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	color: #fff;
	font-size: 14px;
	line-height: 26px;
	text-align: center;
	vertical-align:middle;
	background-color: #1b8cf2;
	cursor:pointer;
	display:inline-block;
	outline:none;
}

.aty-big .jqButton-default .jqButton-btn{
	font-size: 16px;
}

.jqButton-default .jqButton-hover {
	background-color: #3ea1fa;
}

.jqButton-default .jqButton-pressed {
	background-color: #137ddc;
}

.jqButton-default .jqButton-disabled {
	border: none;
	background:#ccc;
	color:#666;
	cursor:default;
}

.jqButton-default .jqButton-ellipsis{
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}